[submodule "research/Game-Engines-Filetypes-Reverse-Engineering"]
	path = research/Game-Engines-Filetypes-Reverse-Engineering
	url = https://github.com/risha-max/Game-Engines-Filetypes-Reverse-Engineering.git
